@font-face {
  font-family: Minion;
  src: url(./fonts//MinionPro-Regular.otf);
}

@font-face {
  font-family: Agenda;
  src: url(./fonts/Agenda-BoldItalic.otf);
}

* {
  font-family: "Minion", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

img {
  top: 10px;
}

iframe {
  display: block; /* iframes are inline by default */
  background: #000;
  border: none; /* Reset default border */
  height: 92.5vh; /* Viewport-relative units */
}

p {
  max-width: 50rem;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 34rem;
  list-style: none;
  align-self: center;
  font-size: 1.25rem;
  padding-left: 0;
  width: 100%;
  margin-top: 0;
  hyphens: auto;
}

li {
  width: 16rem;
}

.previous-clients {
  margin-bottom: 0;
  align-self: flex-start;
}

.executive-producer {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.contact {
  margin-top: 2rem;
}

.top-banner {
  width: 100%;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  height: 4.5rem;
}

.logo {
  height: 50px;
  margin: 1rem 0;
}

.smaller-text {
  font-size: 1.5rem;
}

.phone-number {
  margin-bottom: 5rem;
}

.bottom-of-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.image-wrapper {
  /* transition: transform 2000ms ease-in-out; */
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bottom-line {
  margin-bottom: 0;
}
/* .image-wrapper-grow { */
/* transform: scale(2); */
/* } */
